# ===== GENERAL =====
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000

# ===== GATEWAY / LARAVEL =====
LARAVEL_PORT=8000
APP_KEY=base64:REPLACE_WITH_YOUR_KEY
JWT_SECRET=REPLACE_WITH_YOUR_JWT_SECRET
INTERNAL_API_KEY=REPLACE_WITH_YOUR_INTERNAL_KEY

USER_SERVICE_URL=http://user-service:8001
STUDY_SERVICE_URL=http://study-service:3001
PROJECT_SERVICE_URL=http://project-service:8002
NOTIFICATION_SERVICE_URL=http://notification-service:8003

# ===== MYSQL (GATEWAY + PROJECT SERVICE) =====
MYSQL_ROOT_PASSWORD=rootpass
MYSQL_AUTH_DATABASE=campusconnectdb
MYSQL_PROJECT_DATABASE=project_db
MYSQL_HOST=mysql-db
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=rootpass

# ===== POSTGRES (USER SERVICE) =====
POSTGRES_DB=user_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres-db
POSTGRES_PORT=5432

# ===== DJANGO =====
DEBUG=True
SECRET_KEY=django-secret-key
DB_NAME=user_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=postgres-db
DB_PORT=5432

# ===== FLASK PROJECT SERVICE =====
PROJECT_DB_NAME=project_db
PROJECT_DB_USER=root
PROJECT_DB_PASSWORD=rootpass
PROJECT_DB_HOST=mysql-db
PROJECT_DB_PORT=3306

# ===== STUDY SERVICE (FIREBASE) =====
STUDY_PORT=3001
STUDY_FIREBASE_DATABASE_URL=https://campusconnect-ad06c-default-rtdb.firebaseio.com/
STUDY_GOOGLE_APPLICATION_CREDENTIALS=/app/firebase/study-service.json

# ===== NOTIFICATION SERVICE (FIREBASE) =====
NOTIFICATION_PORT=8003
NOTIFICATION_FIREBASE_DATABASE_URL=https://notificacionescampusconnect-default-rtdb.firebaseio.com/
NOTIFICATION_GOOGLE_APPLICATION_CREDENTIALS=/app/firebase/notification-service.json
